.bower-install-status {
    position: absolute;
    width: 100%;
    background: #2a2c2e;
    border-top: 1px solid #474a4b;
    z-index: 10;
    bottom: 0;
    height: 27px;
}

.bower-loading-status {
    padding-left: 10px;
}

.bower-install-status,
.bower-loading-status {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: bottom 250ms cubic-bezier(0, 1.02, 0.6, 1);
}

.bower-install-status.hidden {
    bottom: -27px;
}

.bower-install-status .inner {
    padding: 5px 12px;
    font-size: 13px;
    font-style: italic;    
    color: #94A3A7;
}

.bower-loading-status .spinner,
.bower-install-status .spinner {
    margin-left: 5px;
}

.bower-loading-status .spinner {
    top: 3px;
}