.bower-install-status {
    position: absolute;
    width: 100%;
    background: #2a2c2e;
    border-top: 1px solid #474a4b;
    z-index: 10;
    bottom: 0;
    left: 0;
    height: 27px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: bottom 250ms cubic-bezier(0, 1.02, 0.6, 1);
}

.bower-install-status.hidden {
    bottom: -27px;
}

.bower-install-status .inner {
    padding: 5px 12px;
    font-size: 13px;
    font-style: italic;
    color: #94A3A7;
}

.bower-install-status .inner .text {
    display: inline-block;
    width: calc(100% - 20px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bower-loading-status {
    padding-left: 10px;
}

.bower-loading-status .spinner,
.bower-install-status .spinner {
    margin-left: 5px;
}

.bower-loading-status .spinner {
    top: 3px;
}

/* panel */

#bower-config-icon {
    background: url("images/bower-icon.png") no-repeat 0 0;
    background-position: 0 0;
}

#bower-config-icon.success {
    background-position: 0 -25px;
}

#bower-config-icon.active {
    background-position: 0 -49px;
}

#bower-config-icon.warning {
    background-position: 0 -73px;
}

#bower-config-icon.error {
    background-position: 0 -97px;
}

/* common */

.bower-title {
    font-size: 14px;
    line-height: normal;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.bower-row {
    padding: 3px;
    display: block;
}

.bower-row .bower-row-item {
    display: inline-block;
    width: 50%;
}

/* configuration */

.bower-config {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.bower-config .header-section .bower-title {
    padding-bottom: 3px;
}

.bower-config tr:hover {
    cursor: pointer;
}
