<div class="bower-config-file">

    <div class="header-section">
        <div class="bower-title">{{ Strings.TITLE_BOWER_JSON }}</div>
    </div>

    <table class="bottom-panel-table table table-striped table-condensed">
        <tbody>
            {{#bowerJson}}
            <tr data-bower-json="{{ bowerJson.AbsolutePath }}">
                <td>
                    <div class="path bower-row-item">{{ bowerJson.AbsolutePath }}</div>
                </td>

                <td>
                    <div class="controls bower-row-item">
                        <button class="btn small" data-bower-json-action="delete" title="{{Strings.DELETE}}">
                            <span>{{ Strings.DELETE }}</span>
                        </button>
                    </div>
                </td>
            </tr>
            {{/bowerJson}}

            {{^bowerJson}}
            <tr>
                <td>
                    <span class="bower-row-item">{{ Strings.BOWER_JSON_NOT_FOUND}}</span>
                </td>
                <td>
                    <div class="bower-row-item">
                        <button class="btn small" data-bower-json-action="create" title="{{Strings.CREATE}}">
                            <span>{{ Strings.CREATE }}</span>
                        </button>
                    </div>
                </td>
            </tr>
            {{/bowerJson}}
        </tbody>
    </table>
</div>
