<tr data-bower-config="{{ bowerrcPath }}">
    <td>
        <div class="path bower-row-item">{{ bowerrcPath }}</div>
    </td>

    <td>
        <div class="controls bower-row-item">
            <button class="btn" data-bower-config-action="reload" title="{{ Strings.RELOAD }}">
                <span>{{ Strings.RELOAD }}</span>
            </button>
            <button class="btn" data-bower-config-action="delete" title="{{ Strings.DELETE }}">
                <span>{{ Strings.DELETE }}</span>
            </button>
        </div>
    </td>
</tr>
