<div class="bower-config-file">

    <div class="header-section">
        <div class="bower-title">{{ Strings.TITLE_CONFIG }}</div>
    </div>

    <table class="bottom-panel-table table table-striped table-condensed">
        <tbody>
            {{#bowerRc}}
            <tr data-bower-config="{{ bowerRc.AbsolutePath }}">
                <td>
                    <div class="bower-row-item">{{ bowerRc.AbsolutePath }}</div>
                </td>

                <td
                    <div class="controls bower-row-item">
                        <button class="btn small" data-bower-config-action="delete" title="{{Strings.DELETE}}">
                            <span>{{ Strings.DELETE }}</span>
                        </button>
                    </div>
                </td>
            </tr>
            {{/bowerRc}}

            {{^bowerRc}}
            <tr>
                <td>
                    <span class="bower-row-item">{{ Strings.BOWERRC_NOT_FOUND}}</span>
                </td>
                <td>
                    <div class="bower-row-item">
                        <button class="btn small" data-bower-config-action="create" title="{{Strings.CREATE}}">
                            <span>{{ Strings.CREATE }}</span>
                        </button>
                    </div>
                </td>
            </tr>
            {{/bowerRc}}
        </tbody>
    </table>
</div>
