<div class="bower-config">

    <div class="header-section">
        <div class="bower-title">{{ Strings.CONFIG_TITLE }}</div>
    </div>

    <table class="bottom-panel-table table table-striped table-condensed">
        <tbody>
            {{#bowerrc}}
            <tr data-bower-config="{{ path }}">
                <td>
                    <div class="path bower-row-item">{{ path }}</div>
                </td>

                <td>
                    <div class="controls bower-row-item">
                        <button class="btn btm-mini" data-bower-config-action="delete" title="{{Strings.DELETE}}">
                            <span class="octicon octicon-x"></span>
                        </button>
                    </div>
                </td>
            </tr>
            {{/bowerrc}}

            {{^bowerrc}}
            <tr>
                <td>
                    <span class="bower-row-item">{{ Strings.BOWERRC_NOT_FOUND}}</span>
                </td>
                <td>
                    <div class="bower-row-item">
                        <button class="btn" data-bower-config-action="create" title="{{Strings.CREATE}}">
                            <span>{{ Strings.CREATE }}</span>
                        </button>
                    </div>
                </td>
            </tr>
            {{/bowerrc}}
        </tbody>
    </table>
</div>
