<div class="bower-config-file">

    <div class="header-section">
        <div class="bower-title">{{Strings.TITLE_INSTALLED_PACKAGES}}</div>
    </div>

    <table class="bottom-panel-table table table-striped table-condensed">
        <tbody>
            {{#dependencies}}
            <tr data-bower-dependency="{{ name }}">
                <td>
                    <div class="bower-row-item">{{ name }}</div>
                </td>
                <td>
                    <div class="bower-row-item">{{ version }}</div>
                </td>
                <td>
                    <div class="bower-row-item {{ #hasUpdates }}bower-update{{ /hasUpdates }}">{{ latestVersion }}</div>
                </td>
                <td>
                    <div class="controls bower-row-item">
                        <button class="btn btn-mini" data-bower-installed-action="delete" data-name="{{ name }}" title="{{Strings.COMMAND_UNINSTALL}}">
                            {{ Strings.COMMAND_UNINSTALL }}
                        </button>
                        <button class="btn btn-mini" data-bower-installed-action="update" data-name="{{ name }}" title="{{Strings.COMMAND_UPDATE}}" {{ ^hasUpdates }}disabled{{ /hasUpdates }}>
                            {{ Strings.COMMAND_UPDATE }}
                        </button>
                    </div>
                </td>
            </tr>
            {{/dependencies}}
            {{^dependencies}}
            <tr>
                <td>
                    <span class="bower-row-item">{{ Strings.INSTALLED_PACKAGES_NOT_FOUND }}</span>
                </td>
            </tr>
            {{/dependencies}}
        </tbody>
    </table>
</div>
