<div class="header-section">
    <div class="bower-title">{{ Strings.TITLE_PROJECT_PACKAGES }}</div>
</div>

<!-- loading packages -->
{{#loading}}
<div class="bower-packages-loading">
    <div class="spinner spin"></div>
</div>
{{/loading}}

<!-- packages loaded -->
{{^loading}} {{#existsDependencies}}
<table class="bottom-panel-table table table-striped table-condensed">
    <tbody>
        {{#dependencies}}
        <tr data-bower-dependency="{{ name }}">
            <td>
                <div class="bower-row-item bower-pkg-name">
                    <label class="bower-text-m">{{ name }}</label>
                    <label class="bower-text-m">{{ version }}</label>
                </div>

                {{ #hasUpdates }}
                <div class="bower-row-item">
                    <div class="bower-pkg-latest-version">{{ latestVersion }}</div>
                </div>
                {{ /hasUpdates }}

                {{ #isNotTracked }}
                <div class="bower-row-item">
                    <div class="bower-pkg-warning">Not Tracked</div>
                </div>
                {{ /isNotTracked }}

                {{ #isMissing }}
                <div class="bower-row-item">
                    <div class="bower-pkg-warning">Missing</div>
                </div>
                {{ /isMissing }}

                <div class="bower-row-item">
                    {{ #isProductionDependency }}
                    <div class="bower-pkg-prod">Prod</div>
                    {{ /isProductionDependency }}
                    {{ ^isProductionDependency }}
                    <div class="bower-pkg-dev">Dev</div>
                    {{ /isProductionDependency }}
                </div>
            </td>
            <td>
                <div class="controls bower-row-item">
                    <!-- uninstall -->
                    <button class="btn btn-mini" data-bower-installed-action="uninstall" data-name="{{ name }}" title="{{Strings.COMMAND_UNINSTALL}}" {{ #isMissing }}disabled{{ /isMissing }}>
                        {{ Strings.COMMAND_UNINSTALL }}
                    </button>

                    <!-- update -->
                    <button class="btn btn-mini" data-bower-installed-action="update" data-name="{{ name }}" title="{{Strings.COMMAND_UPDATE}}" {{ ^hasUpdates }}disabled{{ /hasUpdates }}>
                        {{ Strings.COMMAND_UPDATE }}
                    </button>

                    {{ #isMissing }}
                    <!-- remove -->
                    <button class="btn btn-mini" data-bower-installed-action="remove" data-name="{{ name }}" title="{{Strings.REMOVE_FROM_BOWERJSON}}">
                        {{ Strings.REMOVE_FROM_BOWERJSON }}
                    </button>
                    {{ /isMissing }}

                    <!-- add to bower.json if any -->
                    {{ #isNotTracked }}
                    <button class="btn btn-mini" data-bower-installed-action="track" data-name="{{ name }}" title="{{Strings.TRACK_IN_BOWERJSON}}">
                        {{Strings.TRACK_IN_BOWERJSON}}
                    </button>
                    {{ /isNotTracked }}
                </div>
            </td>
        </tr>
        {{/dependencies}}
    </tbody>
</table>
{{/existsDependencies}} {{^existsDependencies}}
<table class="bottom-panel-table table table-striped table-condensed">
    <tbody>
        <tr>
            <td>
                <span class="bower-row-item">{{ Strings.INSTALLED_PACKAGES_NOT_FOUND }}</span>
            </td>
        </tr>
    </tbody>
</table>
{{/existsDependencies}} {{/loading}}
