<div class="header-section">
    <div class="bower-title">{{ Strings.TITLE_PROJECT_PACKAGES }}</div>
</div>

<!-- loading packages -->
{{#loading}}
<div class="bower-packages-loading">
    <div class="spinner spin"></div>
</div>
{{/loading}}

<!-- packages loaded -->
{{^loading}} {{#existsDependencies}}
<table class="bottom-panel-table table table-striped table-condensed">
    <thead>
        <tr>
            <th>Name</th>
            <th>Version</th>
            <th>Latest Version</th>
            <th>Extraneous</th>
            <th>Installed</th>
        </tr>
    </thead>
    <tbody>
        {{#dependencies}}
        <tr data-bower-dependency="{{ name }}">
            <td>
                <div class="bower-row-item">{{ name }}</div>
            </td>
            <td>
                <div class="bower-row-item">{{ version }}</div>
            </td>
            <td>
                <div class="bower-row-item {{ #hasUpdates }}bower-update{{ /hasUpdates }}">{{ latestVersion }}</div>
            </td>
            <td>
                <div class="bower-row-item">{{ extraneous }}</div>
            </td>
            <td>
                <div class="bower-row-item">{{ isInstalled }}</div>
            </td>
            <td>
                <div class="controls bower-row-item">
                    <button class="btn btn-mini" data-bower-installed-action="delete" data-name="{{ name }}" title="{{Strings.COMMAND_UNINSTALL}}">
                        {{ Strings.COMMAND_UNINSTALL }}
                    </button>

                    <button class="btn btn-mini" data-bower-installed-action="update" data-name="{{ name }}" title="{{Strings.COMMAND_UPDATE}}" {{ ^hasUpdates }}disabled{{ /hasUpdates }}>
                        {{ Strings.COMMAND_UPDATE }}
                    </button>
                </div>
            </td>
        </tr>
        {{/dependencies}}
    </tbody>
</table>
{{/existsDependencies}} {{^existsDependencies}}
<table class="bottom-panel-table table table-striped table-condensed">
    <tbody>
        <tr>
            <td>
                <span class="bower-row-item">{{ Strings.INSTALLED_PACKAGES_NOT_FOUND }}</span>
            </td>
        </tr>
    </tbody>
</table>
{{/existsDependencies}} {{/loading}}
