<div id="brackets-bower-panel" class="bottom-panel vert-resizable top-resizer">
    <!-- header -->
    <div class="toolbar simple-toolbar-layout bower-panel-header">
        <div class="title">{{ Strings.TITLE_BOWER }}</div>

        <div class="panels">
            <button data-bower-panel-btn="config" title="{{ Strings.TITLE_CONFIG }}" class="btn btn-small">
                {{ Strings.TITLE_CONFIG }}
            </button>

            <button data-bower-panel-btn="bower-json" title="{{ Strings.TITLE_BOWER_JSON }}" class="btn btn-small">
                {{ Strings.TITLE_BOWER_JSON }}
            </button>
        </div>

        <button data-bower-btn-id="settings" title="{{ Strings.TITLE_SETTINGS }}" class="btn btn-small">
            {{ Strings.TITLE_SETTINGS }}
        </button>

        <a href="#" class="close">&times;</a>
    </div>

    <!-- content -->
    <div class="brackets-container">

        <div id="brackets-bower-config"></div>

        <div id="brackets-bower-dependencies"></div>

    </div>
</div>
