<div id="brackets-bower-panel" class="bottom-panel vert-resizable top-resizer">
    <!-- header -->
    <div class="toolbar simple-toolbar-layout">
        <div class="title">{{ Strings.TITLE_BOWER }}</div>
        <!-- Install button -->
        <!-- Currently installed button -->
        <!-- Configuration button -->
        <!-- Update all button -->
        <div id="brackets-bower-button-bar">
        </div>

        <a href="#" class="close">&times;</a>
    </div>

    <!-- content -->
    <div class="brackets-container">

        <div id="brackets-bower-config"></div>
        <div id="brackets-bower-installed"></div>

    </div>
</div>
