<button class="btn small" data-bower-button-action="show-configuration" title="{{Strings.BUTTON_SHOW_CONFIG}}">
    <span class="octicon octicon-settings"></span>
</button>
<button class="btn small" data-bower-button-action="show-installed" title="{{Strings.BUTTON_SHOW_INSTALLED}}">
    <span class="octicon octicon-package"></span>
</button>
<button class="btn small" data-bower-button-action="install-package" title="{{Strings.BUTTON_INSTALL_PACKAGE}}">
    <span class="octicon octicon-cloud-download"></span>
</button>
<!--
<button class="btn small" data-bower-button-action="update-all" title="{{Strings.BUTTON_UPDATE_ALL}}">
    <span class="octicon octicon-sync"></span>
</button>
-->
