<div id="brackets-bower-panel" class="bottom-panel vert-resizable top-resizer">
    <!-- header -->
    <div class="toolbar simple-toolbar-layout bower-panel-header">
        <div class="title">{{ Strings.TITLE_BOWER }}</div>

        <div id="brackets-bower-button-bar"></div>

        <div class="panels">
            <div class="btn-group">
                <button data-bower-panel-key="dependencies" title="{{ Strings.TITLE_DEPENDENCIES }}" class="btn small bower-btn">
                    <span class="octicon octicon-package"></span>
                </button>

                <button data-bower-panel-key="config" title="{{ Strings.TITLE_CONFIG }}" class="btn small  bower-btn">
                    <span class="octicon octicon-settings"></span>
                </button>
            </div>
        </div>

        <div class="tools">
            <div id="bower-commands"></div>

            <span data-bower-btn-id="settings" title="{{ Strings.TITLE_SETTINGS }}" class="octicon octicon-gear bower-btn"></span>
        </div>

        <a href="#" class="close">&times;</a>
    </div>

    <!-- content -->
    <div class="table-container resizable-content">
        <div id="brackets-bower-active-panel"></div>
    </div>
</div>
